@media only screen and (max-width:1440px) {
    .cover {
        text-align: center;
        padding-top: 20%;
    }
    #experience {
        height: 240%;
    }
    .education {
        height: 130%;
    }
    .projects {
    height: 205%;
    }
}

@media only screen and (max-width: 1200px) {

    #experience {
        height: 260%;
    }
    .education {
        height: 130%;
    }
    .projects {
    height: 205%;
    }

.cover {
    margin-left: 50%;
}
}

@media only screen and (max-width: 1023px) {
    .about-me {
        height: 115%;
    }

    #experience {
        height: 290%;
    }
    .education {
        height: 140%;
    }
    .projects {
    height: 205%;
    }
}

@media only screen and (max-width: 767px) {
    .about-me {
        height: 115%;
    }

    #experience {
        height: 230%;
    }
    .education {
        height: 110%;
    }
    .projects {
    height: 205%;
    }
.nav-icon {
    display: block;
}
.navbar-nav {
 display: none;

}


}